language: php
sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
  - '7.3'
  - '7.4'
  - '8.0'

env:
  - SYMFONY_VERSION=^3.4
  - SYMFONY_VERSION=^4.0
  - SYMFONY_VERSION=^5.0


before_install:
  - composer require --no-update symfony/expression-language "$SYMFONY_VERSION"
  - composer require --no-update --dev symfony/yaml "$SYMFONY_VERSION"
  - composer require --no-update --dev symfony/routing "$SYMFONY_VERSION"

install:
    - composer install --no-interaction --prefer-dist
    - bin/phpcs

script:
    - ./bin/phpunit --coverage-text
