<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         bootstrap="tests/bootstrap.php"
        >
    <testsuites>
        <testsuite name="Hateoas Test Suite">
            <directory>./tests/Hateoas</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Hateoas/</directory>
        </whitelist>
    </filter>
</phpunit>
