name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  phpunit:
    name: "PHPUnit"
    runs-on: "ubuntu-20.04"

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
        dependencies:
          - "highest"
          - "lowest"
        symfony-require:
          - "^3.0"
          - "^4.0"
          - "^5.0"
        include:
          - php-version: 8.0
            symfony-require: "^6.0"
          - php-version: 8.1
            symfony-require: "^6.0"
          - php-version: 8.2
            symfony-require: "^6.0"
          - php-version: 8.3
            symfony-require: "^6.0"
          - php-version: 8.2
            symfony-require: "^7.0"
          - php-version: 8.3
            symfony-require: "^7.0"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "pcov"
          ini-values: "zend.assertions=1"
          tools: "flex"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v2"
        env:
          SYMFONY_REQUIRE: "${{ matrix.symfony-require }}"
        with:
          dependency-versions: "${{ matrix.dependencies }}"
          composer-options: "${{ matrix.composer-options }}"

      - name: "Run PHPUnit"
        run: "bin/phpunit --coverage-text"
